
<div class="heading-cnt">
    <p id="book-heading">Books<p>
    <p id="book-count">(booksCount)</p>
</div>
<div class="books-cnt">
    <div *ngFor="let book of bookList">
        <app-book-card [book]="book"></app-book-card>
    </div>
</div>

<div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 1">&#10094;</button> 

    <span *ngFor="let page of pagesToShow">
        <button 
            *ngIf="page !== '...'" 
            (click)="goToPage(page)" 
            [class.active]="currentPage === page">
            {{ page }}
        </button>
        <span *ngIf="page === '...'">{{ page }}</span>
    </span>

    <button (click)="nextPage()" [disabled]="currentPage === totalPages">&#10095;</button> 
</div>

