<div class="cart-cnt">
    <div class="heading-cnt">
        <h3>My Cart</h3>
    </div>
    <div class="details-cnt">
        <div class="img-cnt"><img src="../../../assets/book-image/Image 11.png" alt=""></div>
        <div class="description-cnt">
            <p>Book Name</p>
            <p>author</p>
            <p>price</p>
            <div class="cart-wishlist-cnt">
                <div class="update-cart-btn">
                    <button>-</button>
                    <p>1</p>
                    <button>+</button>
                </div>
                <button id="wishlist-btn">Remove</button>
           </div> 
        </div>
    </div>
</div>
