<div class="wishlist-container">
  <h2>My Wishlist ({{ wishlist.length < 10 ? '0' + wishlist.length : wishlist.length }})</h2>

  <div *ngFor="let book of wishlist; let i = index" class="wishlist-item">
      <img [src]="book.bookImage" alt="{{ book.title }}" class="book-image">
      
      <div class="book-info">
          <h3>{{ book.bookName }}</h3>
          <p>by {{ book.author }}</p>
          <p><strong>Rs. {{ book.price }}</strong> <span class="original-price">Rs. {{ book.price+book.discountPrice }}</span></p>
      </div>

      <button class="delete-btn" (click)="removeFromWishlist(i)">
          🗑️
      </button>
  </div>
</div>
