
<div class="book-details-cnt">
    <div class="left-cnt">
        <div class="img-cnt">
            <img src="../../../assets/book-image/Image 11@2x.png" alt="">
        </div>
       <div class="cart-wishlist-cnt">
            <button id="cart-btn">ADD TO BAG</button>
            <button id="wishlist-btn">WISHLIST</button>
       </div> 
    </div>
    
    <div class="right-cnt">
        <p id="book-name">Book Name</p>
        <p id="book-author">by author</p>
        <p id="book-ratings">ratings</p>
        <p id="book-price">price</p> 
        <div class="book-detail">
            <p id="book-detail-heading">Book Detail</p>
            <p id="book-detail-summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, asperiores aliquid facere cum eaque repellat, deleniti ipsa aspernatur, molestiae omnis ducimus? Laboriosam distinctio officiis, suscipit iusto mollitia rerum soluta, itaque aliquid delectus illum animi!</p>
        </div>
        
    </div>
    
</div>