.book-details-cnt{
    width: 1005px;
    margin-left: 260px;
    display: flex;
    padding-top: 50px;
    height: 500px;
    margin-top: 20px;
}

.left-cnt{
    width: 270px;
}

.img-cnt{
    height: 313px;
    border: 1px solid #E2E2E2;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 313px;
    width: 270px;
}

.cart-wishlist-cnt{
    width: 270px;
    // border: 1px solid green;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cart-wishlist-cnt button{
    width: 125px;
    height: 33px;
}

#add-cart-btn{
    background-color: #A03037;
    color: white;
}

.update-cart-btn{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 125px;
    height: 33px;
}

.update-cart-btn button{
    height: 33px;
    width: 33px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
}

.update-cart-btn p{
    border: 1px solid black;
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wishlist-btn{
    background-color: #0A0102;
    color: white;
}



#book-name {
    font-size: 24px;
    color: #0A0102;
    margin-top: 0px;
    margin-bottom: 5px;

}

#book-author {
    text-align: left;
    font-size: 16px;
    color: #878787;
    margin-top: 0px;
    margin-bottom: 5px;
}


#book-ratings {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 5px;
    background-color: rgb(18, 186, 18);
    color: white;
    width: 45px;
    text-align: center;
    border-radius: 7px;
}

#book-price {
    font-size: 30px;
    color: #0A0102;
    margin-top: 0px;
    margin-bottom: 20px;
}


.right-cnt{
    height: 313px;
    width: 400px;
    margin-left: 37px;
}


.book-detail{
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
 }

 #book-detail-heading{
    font-size: 14px;
    color: #878787;
    margin-bottom: 3px;
    margin-top: 25px;
 }

 
 #book-detail-summary{
    font-size: 10px;
    color: #878787;
    margin-top: 0px;
    margin-bottom: 25px;
 }

