
.signup-cnt{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  
  background-color: #ccc;
}

.signup-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }


  .heading{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }

  .heading h2{
    cursor: pointer;
    color: black;
  }

  #current-page{
    text-decoration: underline;
    text-decoration-color: brown;
  }

  
  
  .signup-form label {
    margin-top: 10px;
  }
  
  .signup-form input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .signup-form div {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .signup-form button {
    margin-top: 20px;
    padding: 10px;
    background: #900;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signup-form button:disabled {
    background: #ccc;
    cursor: not-allowed;
  }
  

  label{
    font-size: 12px;
    padding-left: 5px;
  }

  input{
    height: 25px;
  }